<div class="example-container">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="this.toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Example Color Toggle</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="icon-button with dark or light mode icon"
            (click)="this.toggleColorMode()">
            <mat-icon>{{ dark ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
    </mat-toolbar>
    <sidenav></sidenav>
</div>